{% extends 'base.html' %}
{% block content %}

<h1> LitReview </h1>
{{ valeur }}
{% for post in object_list %}
    {% if forloop.first %}
    <div class="row">
        {% endif %}
    {% if post.content_type == 'TICKET' %}
        {% include 'LitReview/ticket_snippet.html' %}
    {% elif post.content_type == 'REVIEW' %}
        {% include 'LitReview/review_snippet.html' %}
        {% endif %}
        <div class="col-md-12">
    {% if request.user == ticket.user %}
    <p>Vous avez publié une critique</p>
    {% else %}
    {{ticket.user}} a demandé une critique
        {% endif %}
        <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.user }}</p>
    <p>{{ ticket.time_created }}</p>
    <h3>{{ ticket.review.all.0.headline }}</h3>
    <h3>{{ ticket.review.all.0.rating }}</h3>
    <p>{{ ticket.review.all.0.body }}</p>
        <img src="{{ ticket.image.url }}">
    </div>
    {% if forloop.counter|divisibleby:1 %}
    </div>
    <div class="row">
     {% endif %}
        {% if forloop.last %}
    </div>
    {% endif %}
{% endfor %}


{% endblock %}