% extends "base.html" %}

{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Supprimer</legend>
            <h2>Êtes-vous certain de vouloir supprimer le lien "{{object.followed_user}}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Confirmer</button>
            <a class="btn btn-outline-secondary" href="{% url 'reviews-myPosts'%}">Annuler</a>
        </div>
    </form>
</div>
{% endblock content %}